:root {
    --blue-600: hsl(207, 90%, 54%);
    --blue-200: hsl(208, 90%, 92%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Chillax";
    src: url("./assets/fonts/Chillax-Variable.ttf") format("truetype");
}

.font-main {
    font-family: "Chillax", sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    color: var(--blue-600);
}

.nav-links > a:hover  {
    color: var(--blue-600);
    transition: color 0.3s ease;
}

.home-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.home-section > h1 {
    font-weight: 550;
}

.cta {
    border: none;
    outline: none;
    background: var(--blue-600);
    height: 56px;
    padding: 10px 20px;
    border-radius: 999px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.cta-main {
    left: 50%;
    transform: translateX(-50%);
}


.container {
    width: 100%;
}


.ripple-button {
  position: relative;
  overflow: hidden;
  padding: 12px 24px;
  background-color: var(--blue-600);
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

.ripple {
  position: absolute;
  background: var(--blue-200);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); /* Centers the expansion */
  animation: ripple-animation 0.6s linear;
  pointer-events: none; /* Prevents interference with clicks */
}

@keyframes ripple-animation {
  to {
    transform: translate(-50%, -50%) scale(4); /* Expands outward */
    opacity: 0;
  }
}


.ripple-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border: 2px solid var(--blue-200);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple-bg > .circle1 {
    height: 2000px;
    width: 4000px;
    border-radius: 2000px 2000px 0 0;
    border-bottom: transparent;
}

.circle2 {
    height: 1200px;
    width: 2400px;
    border-radius: 1200px 1200px 0 0;
    border-bottom: transparent;
}

.circle3 {
    height: 800px;
    width: 1600px;
    border-radius: 800px 800px 0 0;
    border-bottom: transparent;
}

.book5 {
    z-index: -1;
}



.top-books-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.top-book-section-title {
    top: 10%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    color: var(--blue-600);
}

.carousel-container {
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0;
}

.slider {
    position: absolute;
    width: 400vw;
    height: 400vw;
    max-width: 3000px;
    max-height: 3000px;
    left: 50%;
    transform: translateX(-50%);
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 20px;
}

.image-info {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-info.active {
  opacity: 1;
}

.image-info h1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--blue-200);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-600);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.8rem;
}

.image-info h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  line-height: 50px;
}

.image-info p {
  font-size: 1.2rem;
  color: #aaa;
}


.title {
    color: var(--blue-600);
}

.forum-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forum-img:first-child {
    transform: rotate(-6deg);
}

.forum-img:nth-child(2) {
    transform: rotate(-6deg);
}

.forum-img:nth-child(3) {
    transform: rotate(-3deg);
}

.forum-img:nth-child(4) {
    transform: rotate(-1deg);
}

.forum-img:nth-child(5) {
    transform: rotate(4deg);
}

.forum-img:last-child {
    transform: rotate(8deg);
}