:root {
    --blue-600: hsl(207, 90%, 54%);
    --blue-200: hsl(208, 90%, 92%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Chillax";
    src: url("./assets/fonts/Chillax-Variable.ttf") format("truetype");
}

.font-main {
    font-family: "Chillax", sans-serif;
}

.navbar {
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    color: var(--blue-600);
}

.home-section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.home-section > h1 {
    font-weight: 450;
}

.cta {
    border: none;
    outline: none;
    background: var(--blue-600);
    height: 56px;
    padding: 10px 20px;
    border-radius: 999px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.container {
    width: 100%;
}


.ripple-button {
  position: relative;
  overflow: hidden;
  padding: 12px 24px;
  background-color: var(--blue-600);
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
}

.ripple {
  position: absolute;
  background: var(--blue-200);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); /* Centers the expansion */
  animation: ripple-animation 0.6s linear;
  pointer-events: none; /* Prevents interference with clicks */
}

@keyframes ripple-animation {
  to {
    transform: translate(-50%, -50%) scale(4); /* Expands outward */
    opacity: 0;
  }
}


.ripple-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    border: 2px solid var(--blue-200);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple-bg > .circle {
    height: 1800px;
    width: 3600px;
    border-radius: 1800px 1800px 0 0;
    border-bottom: transparent;
}

.circle2 {
    height: 1200px;
    width: 2400px;
    border-radius: 1200px 1200px 0 0;
    border-bottom: transparent;
}

.circle3 {
    height: 800px;
    width: 1600px;
    border-radius: 800px 800px 0 0;
    border-bottom: transparent;
}

.book5 {
    z-index: -1;
}